{#<html>#}
{#    <head></head>#}
{#<body>#}

{#        <img src="http://{{ app.request.server.get('SERVER_NAME') }}/images/test1.jpg" />#}

{% block mailbody %}{% endblock %}

<br /><br />
<p style="text-align:right">Pozdrawiamy,<br />Zespół Zlecenia Online</p>
    {#</body>#}
    {#</html>#}
