# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs
*/cache
web/uploads/*
web/media/*
web/bundles/*
var/*
bin/*

# Configuration files
app/config/parameters.yml

!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor

# Editors file and folders
/nbproject
*sublime*
.buildpath
.project
.settings/
