parameters:
    mongodb_server: ~
    database_name: ~
    database_user: ~
    database_password: ~
    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    locale: ~
    secret: ~
    debug_toolbar: ~
    debug_redirects: ~
    use_assetic_controller: ~