{% extends "::frontendbase.html.twig" %}

{% block body -%}

<h3>Czołem żołnierze !!</h3>
<p>
Witamy na Naszej oficjalnej stronie poświęconej bojówce <b>BLUEROSE</b>. Znajdziecie tu mnóstwo przydatnych informacji, statystyki, dofinansowania i wszelkie ciekawostki dropsa.
</p>
<p>Jedyna grupa w ePolsce, która wzoruje się na strukturach mafii sycylijskiej. Fantastyczna atmosfera duże możliwości działania w ePolsce i w eŚwiecie. My, Bluerose Family, jesteśmy grupą bojową, która od 3 lat zrzesza graczy zainteresowanych czymś więcej, niż tylko dwuklikaniem w eRepie. Znajdziesz wśród nas biznesmenów, kongresmenów, działaczy publicznych, którzy chętnie pomogą i odpowiedzą na każde pytanie. Jesteśmy “familią”- jak włoska rodzina, która swoich nigdy nie zostawi.</p>
<p style="text-shadow:5px 0 4px red">Nowością wprowadzoną w system rankingowy jest wewnętrzny podział żołnierzy na oddziały według siły. Pozwala to na równą walkę między członkami grupy, każdy ma szansę się wykazać i otrzymać dodatkowe ekstrasy za bycie w TOP 3 swojego oddziału!!</p>
<a style="text-shadow:5px 0 4px blue">"STATYSTYKI"</a> zawiera wszelkie dane na temat rozwoju postaci w eRepublik</p>
<p><a style="text-shadow:5px 0 4px blue">"ZBIÓRKI"</a> informacje o walkach i ilościach wbitego dmg podczas MONowych zbiórek, wszystko oparte jest o dane z egova</p>
<p><a style="text-shadow:5px 0 4px blue">"RANKINGI"</a> zawiera dane dotyczące aktywności na zbiórkach w swoich oddziałach jak również TOP wbitego influ ogółem</p>
<p><a style="text-shadow:5px 0 4px blue">"PARTIA"</a> zawiera informacje na temat Naszej martwej partii politycznej którą prowadzi niezłomny WhoNext</p>
<p><a style="text-shadow:5px 0 4px blue">"DOŁĄCZ DO BLUEROSE"</a> zawiera instrukcje jak się do nas dostać</p>
<p><a style="text-shadow:5px 0 4px blue">"DO POBRANIA"</a> tutaj znajdziecie dużo pomocnych plików jak np. skrypty, avatary, programy do komunikacji</p>
<p><a style="text-shadow:5px 0 4px blue">"STREFA FUNROSE"</a> a tutaj bedzie dużo fajnych rzeczy :)</p>

{% endblock %}
