{% extends "::frontendbase.html.twig" %}

{% block body -%}

<h3>BLUEROSE party</h3>
<p>

Nasza partia nie oferuje nic ;]  i tyle samo także jest w stanie Ci obiecać :P </p>

<p>Jeśli nie interesuje Cię życie polityczne i masz wszystko gdzieś to trafiłeś idealnie!</p>

<p>Sprzedajemy poparcie, wystawiamy własnych kandydatów na urząd e-prezydenta. Od nas pochodzi też wielu e-prezydentow e-pl!

Należy też wspomnieć że prezesem partii jest od wielu miesięcy (a możliwe że i lat) WhoNext, który idealnie realizuje główne cele i terroryzuje członków.

W skład zarządu wchodzą rownież Corrado Sowx i zwierzax, którzy pewno nawet o tym nie wiedzą tak jak obecny prezes partii co nikogo nie dziwi ;] </p>

<p> Jak widać nasza partia oferuje coś, czego nie dostaniesz nigdzie indziej!. Nie wahaj sie i dołącz do nas! </p></br>

<p>sieć Rizon</p>

<p><a href="http://client01.chat.mibbit.com/#br.party@irc.rizon.net" target="new_window">#br.party </a></p>

<p><a href="http://www.erepublik.com/en/party/bluerose-party-2888/1" target="new_window">http://www.erepublik.com/en/party/bluerose-party-2888/1</a>




</p>


{% endblock %}
