{% extends "::frontendbase.html.twig" %}

{% block body -%}

    <table>
		<caption><h2>Tutaj znajdziecie ogólne statystyki rozwoju postaci</h2></caption>
      <tbody>
        <tr>
		  <td>LP</td>
          <td>Avatar</td>
          <td>ID</td>
          <td>Nick</td>
		  <td>Dywizja</td>
          <td>Poziom</td>
          <td>Ranga</td>
		  <td>Hit Q7</td>
          <td>Siła</td>
		  <td>Wbity DMG dzisiaj</td>
		  <td>Wbity DMG wczoraj</td>
        </tr>
		<tr>
		  <td>128</td>
          <td>Av</td>
          <td>2494465</td>
          <td>djstrach</td>
		  <td>4</td>
          <td>75</td>
          <td>Bóg Wojny ***</td>
		  <td>51236</td>
          <td>49163.27</td>
		  <td>12.348.165</td>
		  <td>2.127.345.981</td>
        </tr>

      </tbody>
    </table>

{% endblock %}
