{% extends "::frontendbase.html.twig" %}

{% block body -%}

	<table>
		<caption><h2>Zbiórki Bluerose</h2></caption>
      <tbody>
        <tr>
		  <td>LP</td>
          <td>Avatar</td>
          <td>Nick</td>
          <td>Ilość walk</td>
		  <td>Hity</td>
          <td>Obrażenia</td>
		  <td>Q broni</td>

        </tr>
		<tr>
		  <td>LP</td>
          <td>Av</td>
          <td>djstrach</td>
          <td>2</td>
		  <td>234</td>
          <td>15098273</td>
		  <td>10.03</td>

        </tr>

      </tbody>
    </table>
	<table>
		<caption><h2>Statystyki żołnierzy bijących na zbiórkach w dniu 2280(egov)</h2></caption>
      <tbody>
        <tr>
		  <td>LP</td>
          <td>Avatar</td>
          <td>Nick</td>
          <td>Ilość walk</td>
		  <td>Hity</td>
          <td>Obrażenia</td>

        </tr>
		<tr>
		  <td>LP</td>
          <td>Av</td>
          <td>djstrach</td>
          <td>2</td>
		  <td>234</td>
          <td>15098273</td>

        </tr>

      </tbody>
    </table>
	<table>
		<caption><h2>Bluerose w świetle innych bojówek w dniu 2280(egov)</h2></caption>
      <tbody>
        <tr>
		  <td>LP</td>
          <td>Armia</td>
          <td>Bitwy</td>
          <td>Żołnierze</td>
		  <td>Hity</td>
          <td>DMG</td>

        </tr>
		<tr>
		  <td>LP</td>
          <td>Bluerose</td>
          <td>8</td>
          <td>35</td>
		  <td>817</td>
          <td>57832098</td>

        </tr>

      </tbody>
    </table>

{% endblock %}

